:root {
  scroll-behavior: smooth;
}

body {

  margin: 0;
  transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -moz-transition: all 500ms linear;
  -ms-transition: all 500ms linear;
  -o-transition: all 500ms linear;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline, .css-1lczath-MuiFormLabel-root-MuiInputLabel-root {
  color: #f472b6 !important
}

.css-1oegkox-MuiLinearProgress-bar1 {
  background: rgb(0, 0, 0);
  background: linear-gradient(280deg, rgb(81, 17, 75) 0%, rgb(21, 9, 87) 19%, rgba(25, 37, 75, 0.998) 41%, rgba(101, 10, 79, 1))
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(67, 66, 68, 0.926);
  border-radius: 40px;
}

::-webkit-scrollbar-track {
  background-color: black;
}